@{
  Layout = "_Layout";
}

@using PierresBakeryTreatFlavor.Models;
@model List<PierresBakeryTreatFlavor.Models.Flavor>;

<h1>Pierre's Treats!</h1>

<button>@Html.ActionLink("See all treats", "Index", "Treats")</button>
<button>@Html.ActionLink("See all flavors", "Index", "Flavors")</button>
<button>@Html.ActionLink("Login/Create Account", "Index", "Account")</button>