@{
  Layout = "_Layout";
}

<h1>Pierre's Treats!</h1>
<button>@Html.ActionLink("See all treats", "Index", "Treats")</button>
<button>@Html.ActionLink("See all flavors", "Index", "Flavors")</button>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>